{{>header}}
<div class="container">
    <div class="row space-top">
      <div class="col-md-12">
        <h1>Profile Page</h1>
        <p>Listing your furniture.</p>
      </div>
    </div>
    <div class="row space-top">
    {{#if hasFurniture}}
      {{#each myFurnature}}
        <div class="col-md-4">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <blockquote class="card-blockquote">
                <img src="{{img}}" />
                <p>{{description}}</p>
                <footer>Made by {{maker}} in,
                  <cite title="{{year}}">{{year}}</cite>
                </footer>
                <div class="pull-right">
                  <a href="#/furniture/details/{{_id}}" class="btn btn-info">Details</a>
                  <a href="#/furniture/delete/{{_id}}" class="btn btn-danger">Delete Item</a>
                </div>
                
              </blockquote>
            </div>
          </div>
        </div>
      {{/each}}
      {{else}}
      <div class="col-md-4">
        <h2> No Furniture in your Account</h2>
        <p>There is no furniture in currenty in your account</p>
        <p>select the Add Furniture button on the top bar to add some now.</p>
      </div>
    {{/if}}
    </div>
  </div>